<aside [ngClass]="isCollapsed? 'w-16' :'w-54'"
  class="h-screen flex flex-col justify-between border-r border-surface-low bg-formBg p-4 transition-all duration-300">

  <div>
    @if(!isCollapsed){
    <div class="flex items-center gap-2 mb-4">
      <img src="assets/icons/logo.png" title="logo" />
      <span class="font-bold text-title-md">Taskly</span>
    </div>
    } @else {
    <div class="flex justify-center mb-6">

      <img src="assets/icons/logo.png" title="logo" class="hidden md:block" />
      <button title="toggle" (click)="toggleCollapse()" class="block md:hidden text-slate-medium text-xl">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    }


    @if(!isCollapsed){
    <div class="fixed inset-0 z-40 bg-black/40 md:hidden" (click)="toggleCollapse()"></div>
    <div class="fixed top-0 left-0 h-screen w-54 z-50 flex flex-col justify-between bg-formBg p-4 md:hidden">
      <div>
        <div class="flex items-center gap-2 mb-4">
          <img src="assets/icons/logo.png" title="logo" />
          <span class="font-bold text-title-md">Taskly</span>
        </div>
        <nav class="flex flex-col gap-3">
          <a routerLink="/project" routerLinkActive="text-accent" (click)="toggleCollapse()"
            class="flex items-center gap-3 text-body-sm text-slate-medium py-1">
            <img src="assets/icons/Icon.png" title="icon" />
            <span>Projects</span>
          </a>
          <a routerLink="/epics" routerLinkActive="text-accent" (click)="toggleCollapse()"
            class="flex items-center gap-3 text-body-sm text-slate-medium py-1">
            <img src="assets/icons/Icon (1).png" title="icon" />
            <span>Project epics</span>
          </a>
          <a routerLink="/tasks" routerLinkActive="text-accent" (click)="toggleCollapse()"
            class="flex items-center gap-3 text-body-sm text-slate-medium py-1">
            <img src="assets/icons/Icon (2).png" title="icon" />
            <span>Project tasks</span>
          </a>
          <a routerLink="/members" routerLinkActive="text-accent" (click)="toggleCollapse()"
            class="flex items-center gap-3 text-body-sm text-slate-medium py-1">
            <img src="assets/icons/Icon (3).png" title="icon" />
            <span>Project Members</span>
          </a>
          <a routerLink="/details" routerLinkActive="text-accent" (click)="toggleCollapse()"
            class="flex items-center gap-3 text-body-sm text-slate-medium py-1">
            <img src="assets/icons/Icon (4).png" title="icon" />
            <span>Project details</span>
          </a>
        </nav>
      </div>
      <div>
        <button (click)="logOut()" class="flex items-center gap-2 text-body-md text-red-500">
          <i class="fas fa-arrow-right-from-bracket"></i>
          <span>Logout</span>
        </button>
      </div>
    </div>
    }


    <nav class="hidden md:flex flex-col gap-3">
      <a routerLink="/project" routerLinkActive="text-accent"
        class="flex items-center gap-3 text-body-sm text-slate-medium py-1">
        <img src="assets/icons/Icon.png" title="icon" />
        @if(!isCollapsed){
        <span>Projects</span>
        }

      </a>
      <a routerLink="/epics" routerLinkActive="text-accent"
        class="flex items-center gap-3 text-body-sm text-slate-medium py-1">
        <img src="assets/icons/Icon (1).png" title="icon" />
        @if(!isCollapsed){
        <span>Project epics</span>
        }


      </a>
      <a routerLink="/tasks" routerLinkActive="text-accent"
        class="flex items-center gap-3 text-body-sm text-slate-medium py-1">
        <img src="assets/icons/Icon (2).png" title="icon" />
        @if(!isCollapsed){
        <span>Project tasks</span>
        }


      </a>
      <a routerLink="/members" routerLinkActive="text-accent"
        class="flex items-center gap-3 text-body-sm text-slate-medium py-1">
        <img src="assets/icons/Icon (3).png" title="icon" />


        @if(!isCollapsed){
        <span>Project Members</span>
        }
      </a>
      <a routerLink="/details" routerLinkActive="text-accent"
        class="flex items-center gap-3 text-body-sm text-slate-medium py-1">
        <img src="assets/icons/Icon (4).png" title="icon" />


        @if(!isCollapsed){
        <span>Project details</span>
        }
      </a>
    </nav>
  </div>

  <div class="hidden md:flex flex-col gap-3">
    <button title="btn" (click)="toggleCollapse()" class="flex items-center gap-2 text-body-md text-slate-medium">
      <i class="fas" [ngClass]="isCollapsed ? 'fa-angle-right' : 'fa-angle-left'"></i>
      @if(!isCollapsed){ <span>Collapse</span> }
    </button>
    <button title="btn" (click)="logOut()" class="flex items-center gap-2 text-body-md text-red-500">
      <i class="fas fa-arrow-right-from-bracket"></i>
      @if(!isCollapsed){ <span>Logout</span> }
    </button>
  </div>

</aside>