/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #003D9B;
  --color-primary-container: #0052CC;
  --color-surface-highest: #D7E2FF;
  --color-surface-low: #F1F3FF;
  --color-background: #F9F9FF;
  --color-slate-dark: #041B3C;
  --color-slate-mid: #4F5F7B;
  --color-slate-light: #C3C6D6;
}
